<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">BankClone</h5>
        <p class="grey-text text-lighten-4">Keep working on your FYP, find the ideas here because FYP is fun!</p>
        <p class="grey-text text-lighten-4">Created by: Ketibansapi (in 2 days)</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/stories">Public Ideas</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 BankClone
      <a class="grey-text text-lighten-4 right" href="#!">Any updates, may figured out later!</a>
    </div>
  </div>
</footer>